<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenTok Hello World</title>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= api_key %>';
        var sessionId = '<%= session_id %>';
        var token = '<%= token %>';
        var role = '<%= role %>';
        var host = '<%= host %>';
    </script>
    <script src="/js/helloworld.js"></script>
    <link href="/css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="publisher"></div>

    <div id="subscriberContainer"></div>
    <form id="chat">
        <textarea id="chat_text" placeholder="Message.."></textarea>
        <input type="submit">
    </form>
</body>
</html>
