<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenTok Hello World</title>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <link href="/css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
  <form method="POST" action="/login">
    <p>Name <input type="text" name="name"></p>
    <p>email <input type="text" name="email"></p>
    <p>Password from email <input type="text" name="password"></p>
    <input type="submit">
  </form>
</body>
</html>
