body, html {
  background-color: gray;
  height: 100%;
}

#videos {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#subscriber {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#publisher {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 10px;
  left: 10px;
  z-index: 4;
  border: 3px solid white;
  border-radius: 3px;
}

#subscriberContainer div {
  z-index: 100;
}

#chat{
  z-index: 100000;
  position: absolute;
}